body {
	width: 100vw;
	height: 100vh;
	font-family: Open Sans;
	min-width: 800px;
}

.container {
	display: flex;
	flex-direction: column;
}

.box {
	width: 100%;
	height: 500px;
}

.mainphoto {
	width: 100%;
	display: block;
	filter: grayscale(.3);
	height: 100%;
}

.title {
	font-family: Open Sans;
	position: absolute;
	left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    font-weight: 600;
    z-index: 2;
    border: solid white 15px;
    text-align: center;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px; 
    color: white;
    width: 80%;

}

.top {
	height: 732px;
	position: relative;
}

.mid {
	height:600px;
}


.mid-title {
	font-size: 45px;
	text-align: center;
	font-weight: 300;
	margin: auto;
	padding: 40px;
	margin-top: 50px;
	margin-bottom: 10px;
	height: 20%;
	padding-top: 0;
	padding-bottom: 0px;
}

.icon-container {
	display: flex;
	justify-content:center;
	padding-left: 50px;
	padding-right: 50px;
}
.icon {
	width: 22%;
	text-align: center;
}

.icon-info {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	line-height: 30px;
	font-size: 16px;
}

i {
	font-size: 70px;
}

.bot {
	background-color: #fbfbfb;
}

.form-container {
	height: 60%;
	width: 60%;
	margin:auto;
	display: flex;
	flex-direction: column;
}

.form {
	text-decoration: none;
	display: flex;
	flex-direction: column;

}

input {
	border: none;
	margin-bottom: 30px;
	background-color: #fbfbfb;
	border-bottom: solid black 1px;
	margin-top: 30px;
	font-size: 20px;
}

input:focus {
	outline: none;
	border-bottom: solid red 1px;
}

@media only screen and (max-width: 1000px){
	.mid{
		height: 900px;
	}
	.icon-container {
		flex-wrap: wrap;
	}
	.icon {
		width: 300px;
		padding: 20px;
	}
}

@media only screen and (max-width: 1100){
	.mid-title {
		font-size: 45px;
	}
}

button {
	width: 25%;
	height: 30px;
	text-align: center;
	background-color: ;
	border: black solid 1px;
	margin: auto;
}


